.btn-danger:hover{
    background-color: tomato;
    box-shadow: 2px 0px 10px  rgba(0, 0, 0, 0.692);
    box-shadow: 2px 0px 10px  rgba(0, 0, 0, 0.692);
}

.btn-warning:hover{
    background-color: gold;
    box-shadow: 2px 0px 10px  rgba(0, 0, 0, 0.692);
}


.card{
    background-color: rgb(247, 247, 247);
    background-color: khaki;
    /* box-shadow: 0 4px 4px -2px rgb(175, 172, 172); */
}

svg{
    margin: 2%;
}

.book{
    cursor: zoom-in;
}

.book:hover{
    color: red;
}

.pen , .dustbin{
    cursor:pointer;
}

.pen:hover , .dustbin:hover{
    color: blue;
}
